/*@mixin swap-button-color($color, $hover, $active) {
  background-color: $color;

  &:hover,
  &:focus,
  .btn-group:focus &.dropdown-toggle {
    background-color: $hover;
  }
  &:active,
  .btn-group.open &.dropdown-toggle,
  &.active {
    background-color: $active;
  }
}*/

box-sizing($boxmodel = border-box)
  -webkit-box-sizing $boxmodel
     -moz-box-sizing $boxmodel
          box-sizing $boxmodel

box-shadow()
  -webkit-box-shadow arguments
     -moz-box-shadow arguments
          box-shadow arguments
